<h1>Edit <%= @entry.name %></h1>

<%= render('layouts/errors', :object => @entry) %>

<form action="/entries/<%=@entry.id%>" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render('form') %>
  <% @tags.each_with_index do |tag, index| %>
    <br><input type="checkbox" name="entries_tags[tag<%= tag.id %>]" <%=@checked[index]%> value="<%= tag.id %>"><%= tag.name %>
  <% end %>
  <br><button>Update recipe</button>
</form>

