<h1>Submit your own Recipe!</h1>

<%= render('layouts/errors', :object => @entry) %>

<form action="/entries" method="post">
  <%= render('form') %>
  <% @tags.each do |tag| %>
    <br><input type="checkbox" name="entries_tags[tag<%= tag.id %>]" value="<%= tag.id %>"><%= tag.name %>
  <% end %>
  <br><button>Add recipe</button>
</form>

<p><a href="/">Return to main page</a></p>
